<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vsite.CSharp.Labos4.Zadatak2.Properties.Settings.EvidencijaConnectionString"
            connectionString="Data Source=ANALOW10-NB\SQLEXPRESS;Initial Catalog=Evidencija;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>